<%- include("partials/header")%>
<style>
    .title{
        text-align: center;
        color: rgb(240, 240, 226);
        font-size: 35px;
        font-family: serif;
        padding: 6% 0% 40% 0%;
        background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-attachment: scroll;
        background-repeat: no-repeat;

    }
    .footer{
        width: 100%;
        color: rgb(240, 240, 226);
        background-color: rgb(62, 69, 79);
        text-align: center;
    }
</style>
<body>
<section class="container-flex px-0 content">
        <div class="title">
                <h2>WELLCOME TO MUCLEMANIA</h2>
                <h4>A perfect fitness training platform</h4>
        </div>
</section>
<div class="footer">
        <h6>Version 1.0.0</h6>
        <h5>Developer: Yogesh Yadav</h5>
        <h6>Contact: xyz</h6>
</div>
</body>


