<%- include("partials/header")%>
<style>
    .title{
        text-align: center;
        color: rgb(240, 240, 226);
        font-size: 35px;
        font-family: serif;
        padding: 6% 0% 40% 0%;
        background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-attachment: scroll;
        background-repeat: no-repeat;

    }
    .footer{
        width: 100%;
        color: rgb(240, 240, 226);
        background-color: rgb(62, 69, 79);
        text-align: center;
    }
</style>
<body>
   
    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
        <a class="navbar-brand " href="/"><img width="100px"  src="https://cdn3.f-cdn.com/contestentries/1172874/26002129/59fa2dd71e199_thumb900.jpg" alt=""></a>
    
        <!-- Links -->
        <ul class="navbar-nav">
        
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Workouts</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/chest">Chest</a>
            <a class="dropdown-item" href="#">Triceps</a>
            <a class="dropdown-item" href="#">Back</a>
            <a class="dropdown-item" href="#">Biceps</a>
            <a class="dropdown-item" href="#">Shoulders</a>
            <a class="dropdown-item" href="#">legs</a>
            <a class="dropdown-item" href="#">Core</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/dietplan_reqs">Dietplan Requests</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>

        </ul>
  </nav>

<section class="container-flex px-0 content">
        <div class="title">
                <h2>WELLCOME TO MUCLEMANIA</h2>
                <h4>A perfect fitness training platform</h4>
        </div>
</section>
<div class="footer">
        <h6>Version 1.0.0</h6>
        <h5>Developer: Yogesh Yadav</h5>
        <h6>Contact: xyz</h6>
</div>
</body>


