<%- include("partials/header")%>


<div class="container">
    <h1>login</h1>
    <br>
    <form action="/login" method="POST">
        <div class="form-row ">
            <div class="form-group col-md-5">
                <label >Username </label>
                <input type="text" name="username" class="form-control" placeholder="username">
            </div>
        </div>
        <br>
        <div class="form-row ">
            <div class="form-group col-md-5">
                <label >Password </label>
                <input type="password" name="password" class="form-control" placeholder="password">
            </div>
        </div>
        <br>
        <button class="btn btn-dark">login</button>
    </form>
</div>
